$headerImage: "../img/m-h-night.jpg";
$primaryFontColor: rgb(255, 255, 255);
$highlight: #FF4E33;
$btnColor: #E3AC00;
$cardColor: #3B3F50;
$sectionBgColor: #21232E;
$gradientLeft: #DCA107;
$gradientRight: #96324F;