$headerImage: "../img/m-h-day.jpg";
$primaryFontColor: #2C2F3C;
$highlight: #15a0c6;
$btnColor: #699900;
$cardColor: #21232E;
$sectionBgColor: white;
$gradientLeft: #66960A;
$gradientRight: #315FCA;


